.repoCardDiv {
  color: rgb(88, 96, 105);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  padding: 2rem;
  flex: 1 1 25%;
}
.repoCardDiv:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px;
}

.repoNameDiv {
  display: flex;
  align-items: center;
}

.repoSvg {
  margin-right: 0.5rem;
  min-width: 16px;
}

.repoName {
  text-align: left;
  color: rgb(36, 41, 46);
  font-family: 'Google Sans Regular';
  margin-bottom: 0.75rem;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  overflow: hidden;
  line-height: 1.2;
  margin: 0px;
}

.repoDescription {
  font-size: 16px;
  overflow: hidden;
  text-align: left;
  display: -webkit-box;
  font-family: 'Poppins';
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 0.8rem;
}

.lanDiv {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}

.repoCreationDate {
  font-family: 'Poppins';
  margin-left: 0px;
  margin-right: auto;
}

.repoLanguages {
  margin-left: 0px;
  margin-right: auto;
}
.devIconsLanguages {
  padding-left: 0;
  list-style: none;
  font-size: 2rem;
  margin-bottom: 0px;
  margin-top: 0px;
  /* text-align: right; */
  display: flex;
  align-items: center;
}

.inlineLanguages {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
  font-family: 'Google Sans Regular';
}
.btn {
  background-color: rgb(78, 78, 78);
  color: white;
}
.btn:hover {
  background-color: rgb(61, 60, 60);
  color: white;
}

@media (max-width: 1400px) {
  .repoCardDiv {
    flex: 1 1 40%;
  }
}
@media (max-width: 992px) {
  .repoCardDiv {
    flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .repoName {
    font-size: 20px;
  }

  .repoDescription {
    font-size: 14px;
  }

  .repoCreationDate {
    font-size: 14px;
  }
  .inlineLanguages {
    margin-right: 10px;
    margin-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .lanDiv {
    flex-direction: column;
  }
  .btn {
    margin-top: 20px;
  }
}
