body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
nav {
  background: #ffffff;
  height: 80px;
  box-shadow: 0.1px 0.1px 10px grey;
}
#check-box {
  display: none;
}
#dark-mode {
  display: none;
}
/* #dark-mode:checked ~ nav {
  background-color: red;
} */
.checkbtn {
  font-size: 25px;
  color: rgb(53, 49, 49);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  margin-left: 10px;
  margin-top: -3px;
  cursor: pointer;
  display: none;
}
.checkbtn:hover {
  color: rgb(19, 124, 194);
  cursor: pointer;
  text-shadow: 0.1px 0.1px 10px grey;
}
label.logo {
  color: #5d6d7e;
  font-size: 30px;
  line-height: 80px;
  padding-left: 80px;
  /* font-weight: bold; */
  font-family: 'Lobster', 'Lilita One', 'Kurale';
  display: inline-flex;
  margin-top: 23px;
  position: absolute;
}
label.logo:hover {
  color: #34495e;
  cursor: pointer;
  /* text-shadow: 0.1px 0.1px 10px grey; */
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  position: relative;
  color: rgb(87, 83, 83);
  font-size: 18px;
  font-weight: 600;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a:before {
  position: absolute;
  content: '';
  left: 0;
  top: 30px;
  height: 2px;
  width: 100%;
  background: rgb(231, 218, 35);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}
nav ul li a:hover {
  color: #039132;
  /* text-shadow: 0px 0px 7px grey; */
}

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
@media (max-width: 1000px) {
  label.logo {
    font-size: 20px;
    padding-left: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #3986da;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul li a:hover,
  nav ul li a.active {
    background: none;
    color: #160415;
  }
  #check-box:checked ~ ul {
    left: 0;
  }
  a:focus + ul {
    left: 0;
  }
}

@media (max-width: 500px) {
  label.logo {
    padding-left: 10px;
    font-size: 17px;
    margin-top: 10px;
  }
  .checkbtn {
    line-height: 30px;
    margin-top: 8px;
  }
  nav {
    height: 50px;
  }
  nav ul {
    top: 50px;
  }
}
