/* Navigation bar  */

.navIcon {
  font-size: 30px !important;
  margin-left: 30px;
  float: right;
  margin-top: 17px;
  color: #c0c7ce;
  cursor: pointer;
}
.address {
  margin-right: 20px;
  margin-top: 21px;
}
.darkMode {
  margin-top: 29px;
  float: right;
}
.navIcon:hover {
  color: #d5d8dc;
}

#canvasText {
  text-align: center;
  font-size: 18px;
  padding-top: 50px;
}

.link_icon:hover {
  font-size: 40px !important;
}
@media (max-width: 858px) {
  .linkDark {
    color: rgb(173, 173, 173);
  }
  .linkDark:hover {
    color: white;
  }
  .ulNavDark {
    background-color: #204063;
  }
}

@media (max-width: 500px) {
  .address {
    margin-top: 8px;
  }
  .darkMode {
    margin-top: 15px;
  }
  #md {
    display: none;
  }
}

@media (max-width: 380px) {
  #yeasir {
    display: none;
  }
  .address {
    float: left;
  }
  .darkMode {
    float: left;
    margin-left: 8px;
  }
  #canvasText {
    padding-top: 20px;
  }
}

/* Navbar DarkMode  */
.navDark {
  background-color: #212f3d;
  transition: background-color 1s ease;
}
.navIconDark {
  color: #808b96;
}
.logoDark {
  color: #808b96;
}
.darkChkBtn {
  color: #808b96;
}
/* Navigation bar END  */
